@model TrashCollector.Models.ApplicationUser_IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.indexVM.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
     
       @if (User.IsInRole("Customer"))
       {
        <dt>Number of Weeks left: </dt>
        <dd>
            <p>
                @if (Model.appUser.PickUpDay.Weeks != null)
                {

                    @Html.ActionLink("Change Number of Weeks", "Edit", "PickUpDay")
                }
                else
                {
                    @Html.ActionLink("Set Number of Weeks for Pick- Up", "Create", "PickUpDay")
                }
            </p>
        </dd>
       }

        @if (User.IsInRole("Worker"))
        {
           <dt>Today's Covered Zipcode:</dt>
           <dd>
            @Html.ActionLink("Set Working Zipcode", "EditZipview","Home")
            </dd>
        }
    </dl>
</div>
